<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1:033200</key>
	<string>F</string>
	<key>0:320003</key>
	<string>G</string>
	<key>0:032010</key>
	<string>C</string>
</dict>
</plist>
